@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');
    font-family: 'Cormorant', serif;
}
@font-face {
    src: url("../assets/font/iranyekanwebregular.woff") format("woff");
    font-family: iranyekanweb;
}
body{
    font-family: 'Cormorant', serif;
}
.bg{
    background: url("../assets/img/0and1.jpeg") center center ;
}
.bg1{
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/img/0and1.jpeg");
}
.bg2{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 7%;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(255, 255, 255, 0.90);
}
.custom-width{
    width: 80%;
}
.v-a{
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.font_iran_yekan_web{
    font-family: iranyekanweb !important;
}
@media screen and (min-width: 1420px){
    .f-r{
        float: right;
    }
    .f-l{
        float: left;
    }
    .custom-width{
    width: 50%;
    }
}
@media screen and (max-width: 400px) {
    body,.font_iran_yekan_web{
        font-size: small;
    }
}